/*_____________________________________________________________________CONTENT*/
.home-content {
  height: 80vh;

  .home-content-brand {
    height: 35vh;

    .home-content-brand--colonne---logo {
      height: 25vh;

      img {
        max-height: 25vh;
      }
    }

    .home-content-brand--colonne---subtitle {
      height: 6vh;
      text-align: center;
      padding-top: 4vh;
    }
  }

  .home-content-search {
    .form-control {
      border-radius: 0.50rem;
    }

    .btn-secondary {
      border-bottom-right-radius: 0.50rem !important;
      border-top-right-radius: 0.50rem !important;
    }
  }
}
.modal-dialog{
  max-width: 700px !important;
}
/*___________________________________________________________________//CONTENT*/
.modal-body--numero{
  font-weight: bold;
  font-size: 30px;
}
.modal-body{
  text-align: center;
}
