.blog-content-card--colonne---titre{
  font-size: 35px;
  margin-top: 7vh;
  text-align: center;
  color: white;
}
.carousel-control-next, .carousel-control-prev{
  width: 5% !important;
}
.carousel-inner {
    padding-bottom: 20px !important;
  }
