.blog-content-card--colonne---titre{
  font-size: 35px;
  text-align: center;
}
.carousel-control-next, .carousel-control-prev{
  width: 5% !important;
}
.carousel-inner {
    padding-bottom: 80px !important;
  }
