.blog-header {
  height: 10vh;
  background-color: $couleur;

  .blog-header-menu {
    height: 10vh;

    .blog-header-menu--colonne {
      .blog-header-menu--colonne---item {
        text-align: center;
        padding-top: 2vh;

        img {
          height: 7vh;
        }

        :hover {
          text-decoration: none;
        }
      }
    }
  }
}
