
/*______________________________________________________________________FOOTER*/
.home-footer {
  height: 10vh;

  .home-footer--colonne---cgu {
    height: 10vh;
    text-align: center;

    :hover {
      text-decoration: none;
    }
  }
}
/*____________________________________________________________________//FOOTER*/
