
.home-header {
  height: 10vh;

  .home-header-menu {
    height: 10vh;

    .home-header-menu--colonne {
      .home-header-menu--colonne---item {
        text-align: center;
        padding-top: 2vh;

        :hover {
          text-decoration: none;
        }
      }
    }
  }
}
