.cgu-side-bar-header {

  .cgu-side-bar-header-menu {
    .cgu-side-bar-header--colonne {
      .cgu-side-bar-header--colonne---item {
        text-align: center;
        padding-top: 2vh;

        img {
          height: 7vh;
        }

        :hover {
          text-decoration: none;
        }
      }



    }
  }
}
.cgu-side-bar-header--colonne---logo {
  margin-top: 2vh !important;
}
.cgu-side-bar-header--colonne---titre{
margin: 15px;
text-align: center;
}
.cgu-side-bar-header--colonne---logo----box a{
    border: none !important;
  }
.modal-body{
  text-align: center;
}
.modal-body--numero{
  font-weight: bold;
  font-size: 30px;
}
/*____________________________________________________________________________*/
