.blog-body--colonne {}

.blog-side-bar {
  position: fixed !important;
  height: 100vh;

      background: linear-gradient(45deg, #83c8ff 0%, #1d4e6f 100%);
      background-size: 200% 200%;
      height: 100%;
      width: 100%;
      -webkit-animation: background 6s ease infinite;
              animation: background 6s ease infinite;


    @-webkit-keyframes background {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }

    @keyframes background {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }

}
@media screen and (max-width: 766px) {
  .blog-side-bar {
    position: relative !important;
    height: auto;
  }
}
.blog-content {
  float: right !important;
}

.blog-body--colonne {
  display: block !important;
}
.blog-content{
  background-color: rgb(32, 32, 32);
}
