.contact-body--colonne {}

.contact-side-bar {
  position: fixed !important;
  height: 100vh;
    padding-bottom: 2vh !important;

      background: linear-gradient(45deg, #83c8ff 0%, #1d4e6f 100%);
      background-size: 200% 200%;
      height: 100%;
      width: 100%;
      -webkit-animation: background 6s ease infinite;
              animation: background 6s ease infinite;


    @-webkit-keyframes background {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }

    @keyframes background {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }

}
@media screen and (max-width: 766px) {
  .contact-side-bar {
    position: relative !important;
    height: auto;
  }
}
.contact-content {
  float: right !important;
}

.contact-body--colonne {
  display: block !important;
}
.contact-content{
  background: linear-gradient(45deg, #0e0e0e 0%, #474747 100%);
  background-size: 200% 200%;
  height: 100vh;
  width: 100%;
  -webkit-animation: background 6s ease infinite;
          animation: background 6s ease infinite;


@-webkit-keyframes background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
}

.contact-content--text{
  color: white;
  margin-top: 5vh;
}
